/* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brain {
    color: #523f81;
}

img {
    width: 80%;
    height: 260px;
    margin-top: 60px;
    margin-left: 40px;
}

.wrapper {
    background: #523f81;
    width: 90%;
    height: 400px;
    margin-top: 90px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 130%;
    color: #fff;
    margin-right: 30px;
    margin-top: 40px;
}

p {
    color: #fff;
    margin-top: 60px;
}

.input-field {
    display: flex;
    margin: 20px;
    gap: 10px;
}

.input-field button {
    height: 50px;
    width: calc(100% / 2 - 20px);
    padding: 0 20px;
}

.input-field input {
    text-align: center;
    color: #3a3a3a;
    margin-top: 30px;
}

.input-field button {
    font-size: 30px;
    background: #523f81;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
}

.input-field button:active {
    transform: scale(0.97);
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .wrapper {
        width: 80vmin;
        height: 70vmin;
        margin-left: 80px;
    }

    h2, p {
        font-size: 200%;
        margin-top: 40px;
    }

        .input-field input {
            margin-top: 60px;
            margin-left: 20px;
    }

        .input-field button {
             margin-top: 60px;
             margin-left: 20px;
    }
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 1200px) {
    img {
        width: 80vh;
        margin-left: 440px;
    }
    .wrapper {
        width: 70vmin;
        height: 50vmin;
        margin-left: 480px;
    }

}