* Google fonts import */ @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #523f81;
    font-family: 'Lato', sans-serif;

}

.wrapper {
    
    background: #fff;
    text-align: center;
    padding: 80px;
}

header {
    font-size: 110%;
    color: #3a3a3a;
}

p {
    color: inherit;
}

.input-field {
    display: flex;
    margin: 20px;
    gap: 10px;
}

.input-field button {
    height: 50px;
    width: calc(100% / 2 - 20px);
    padding: 0 20px;
}

.input-field input {
    text-align: center;
    color: #3a3a3a;
}

.input-field button {
    background: #523f81;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.input-field button:active {
    transform: scale(0.97);
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .wrapper {
        width: 70vmin;
        height: 70vmin;
    }
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 50vmin;
        height: 30vmin;
    }

}